.result{
    border-radius: 7px;
    border: none;
    background-image: linear-gradient( 108deg,  rgba(242,245,139,1) 17.7%, rgba(148,197,20,0.68) 91.2% );
}

.result h2{
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.result p{
    font-size: larger;
}

.result button{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    opacity: 80%;
    background: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;  
}

.result button:hover{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    opacity: 80%;
    color: white;
    background: black;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;  
}